@{
    Page.Title = "Title goes here";
    //Layout = "Your Layout Page goes here";

    WebSecurity.RequireAuthenticatedUser();
}

@{

    if (IsPost)
    {

        var currentPassword = Request["currentPassword"];
        var newPassword = Request["newPassword"];


        if (Request["currentPassword"].IsEmpty())
        {
            ModelState.AddError("currentPassword", "required");
        }
        else
        {

        }

        if (Request["newPassword"].IsEmpty())
        {
            ModelState.AddError("newPassword", "required");
        }


        if (ModelState.IsValid)
        {
            if (WebSecurity.ChangePassword(WebSecurity.CurrentUserName, currentPassword, newPassword) == false)
            {
                ModelState.AddError("currentPassword", "Invalid Current Password");
            }

            
        }


    }




}





<div>

    <form method="post" class="form-horizontal">
        <fieldset>
            <legend>Change Password</legend>
            <div class="form-group">
                <div class="col-md-2">
                    <label>Current Password</label>
                </div>
                <div class="col-md-10">
                    <input type="Password" name="currentPassword" autocomplete="off" />@Html.ValidationMessage("currentPassword")
                </div>
                
                
            </div>

            <div class="form-group">
                <div class="col-md-2">
                    <label>New Password</label>
                </div>
                <div class="col-md-10">
                    <input type="Password" name="newPassword" />@Html.ValidationMessage("newPassword")
                </div>
               
            </div>
          
            <div>
                <input type="submit" value="Submit" class="btn btn-default"/>
            </div>


        </fieldset>
    </form>


</div>