@{

    Page.Title = "Reset Password";
    var message = string.Empty;
    var confirmationToken = Request["confirmationCode"];
    WebSecurity.Logout();

    var password = Request["password"];

    if(IsPost)
    {

        if (password.IsEmpty())
        {
            ModelState.AddError("password", "You must enter new password");
        }

        if (ModelState.IsValid)
        {
            if (!confirmationToken.IsEmpty())
            {
                if (WebSecurity.ResetPassword(confirmationToken.Trim(),password))
                {
                    message = @"Your password has been reset!";
                    message += "Click <a href=\"/Account/Login\">here</a>";
                    message += "to log in to the site.";
                }
                else
                {
                    message = "Could not confirm your registration info";
                }
            }

        }

    }

}



@if (!message.IsEmpty())
{
    <p>@Html.Raw(message)</p>
}
else
{
    <form method="post">
        <fieldset>
            <legend>Reset Password</legend>
            @Html.ValidationSummary(true)
            <div>
                <label for="password">Enter New Password*</label>
            </div>
            <div>
                <input type="password" id="password" name="password" value="@password" />
                @Html.ValidationMessage("password")
            </div>

            <div>
                <input type="submit" name="Submit" value="Submit" />
            </div>
        </fieldset>
    </form>
}



